@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	color: white;
	background-color: black;
	font-family:'Helvetica Neue';
	margin: 0 auto;
}

.container {
	height: 450px;
	width: 250px;
	resize: both;
	overflow: auto;
	/* border: 1px solid white; */
}

.output {
	font-size: 350%;
	/* max-width: 220px; */
	margin: 15px;
	display: flex;
	justify-content: end;
	align-items: end;
}

.button-container {
	padding: 10px;
	max-height: 70%;
	/* max-width: 220px; */
	display: grid;
	margin: 0 auto;
	padding: 3px auto;

	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 20% 20% 20% 20% 20%;
}

button {
	font-size: x-large;
	margin: 10px;
	height: 50px;
	width: 50px;
	text-align: center;
	border: 0px transparent;
	border-radius: 50px;
}

button.functions {
	background-color: #a5a5a5;
	color: black;
}

button.operation { 
	background-color: #ff9f0a;
	color: white;
}

button.numbers { 
	background-color: #333333;
	color: white;
}

button.numbers.special {
	text-align: start;
	padding-left: 10px;
	width: 100px;
	border-radius: 50px;
	grid-column-start: 1;
	grid-column-end: 3;
}